body{
    display: grid;
    place-items: center;
    margin-top: 5%;
    background-color: hsl(217, 54%, 11%);
}
@font-face {
    font-family: 'Outfit';
    src: url(fonts/Outfit-VariableFont_wght.ttf);
}
.card{
    padding: 10px;
    font-family: 'Outfit';
    background-color: hsl(216, 50%, 16%);
    color: white;
    border-radius: 15px;
    
}

#nft{
    border-radius: 10px;
    cursor: pointer;
   
}


#title{
    color: white;
}
#title:hover{
    color:hsl(178, 100%, 50%) ;
}
#main{
    color:  hsl(215, 32%, 27%);
    font-weight: 400;
    
}

#temp{
    display: flex;
    justify-content: right;
    margin-left: 75px;
    color:hsl(215, 32%, 27%) ;
    padding-right: 2px;
    
    
}
#eth{
    color: hsl(178, 100%, 50%);
    padding-left: 2px;
}
#temp , #eth{
   font-weight: 300;
    display: inline-block;
    font-size: small;
    
    
    
}
#avatar{
    width: 30px;
}

#comentary{
    color:hsl(215, 32%, 27%) ;
    padding-left: 5px;
    margin-right: 5px;
}
#Name{
    color: white;
}
#Name:hover{
    color:hsl(178, 100%, 50%);
}